body {
    background-color:  black;
    margin: 0px 0px;
}

#header-container {
    background-color: white;
    position: relative;
    display: flex;
    width: 100%;
}

#header-container > #logo-container {
    text-align: center; 
    width: 25%;
}

#header-container > #nav-access {
    text-align: center;
    position: relative;
    left: 1200px;
    top: 35px;
}

#logo-container > h1{
    color: #277582;
    font-size: 50px;
}

#menu-container > li {
    display: inline-block;
    top: 35px;
    right: 20px;
    font-size: 20px

}

li a {
    padding: 10px;
}

a{
    list-style-type: none;
    text-decoration: none;
    color: black;
}

a:hover, a:visited{
    text-decoration: none;
}


#floorplan-container {
    position: relative;
    display: flex;
    height: 500px;
    width: 100%;
    background-color: black;
    color: white;
    border: black
}

#floorplan-container > #fpimage-container {
    height: 100%;
    width: 75%;
    background-color: white;
}

#fpimage > .floorplan {
    width: 100%;
    height: 100%;
    display: flexbox;
    object-fit: cover;
}

#fpimage-container > .left {
    position: absolute;
    display: inline-flex;
    top: 200px;
    z-index: 2;
}
#fpimage-container > .right {
    position: absolute;
    top: 200px;
    left: 1000px;
    z-index: 2;
}

#floorplan-container > #floorplan-info {
    display: flexbox;
}

#floorplan-info > h2 {
    font-size: 75px;
    text-align: center;
}

#floorplan-info > p {
    font-size: 25px;
    text-align: center;
}

#floorplan-info > #fpinfo-button {
    text-align: center;
    font-size: 35px;
}

#fpinfo-button > a {
    padding: 10px;
    background-color: #277582;
    border-radius: 25px;
}

#contact-container {
    position: relative;
    height: 300px;
    width: 100%;
    background-color: white;
}

#contact-container > #contact-info {
    display: flexbox;
}

#apply-container {
    position: relative;
    width: 100%;
    height: 125px;
    background-color: white;
}








